<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/themes/bootstrap/easyui.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/themes/icon.css}" />
<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.easyui.min.js}"></script>
<script th:inline="javascript">
$(document).ready(function(){
	$('#btn').linkbutton({
	    iconCls: 'icon-search',
	    onClick:function(){
	    	console.log("菊花")
	    }
	});
});
</script>
</head>
<body>
	<a id="btn" href="#">easyui</a>

	<h1>Hello World</h1>
</body>
</html>