<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
    <title>人事管理系统 ——文档管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3"/>
    <meta http-equiv="description" content="This is my page"/>
    <link href="../css/css.css" type="text/css" rel="stylesheet"/>
    <link href="../css/pager.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="../js/jquery-2.1.4.js"></script>
    <script type="text/javascript" src="../js/jquery-migrate-1.2.1.js"></script>
    <link href="../js/ligerUI/skins/Aqua/css/ligerui-dialog.css" rel="stylesheet" type="text/css"/>
    <script src="../js/ligerUI/js/core/base.js" type="text/javascript"></script>
    <script src="../js/ligerUI/js/plugins/ligerDialog.js" type="text/javascript"></script>
    <script src="../js/ligerUI/js/plugins/ligerDrag.js" type="text/javascript"></script>
    <script src="../js/ligerUI/js/plugins/ligerResizable.js" type="text/javascript"></script>

    <script src="../js/mypager.js" type="text/javascript"></script>
    <link href="../css/mypager.css" type="text/css" rel="stylesheet"/>

    <script type="text/javascript">
        $(function () {
            var boxs;
            $.ajax({
                url: "../getAllDocument",
                type: "post",
                dataType: "json",
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $.ligerDialog.error("出错了，请与管理员联系！");
                },
                success: function (res) {
                    loadData(res, "../getAllDocument", "post");
                }
            });

            /** 删除员工绑定点击事件 */
            $("#delete").click(function () {
                /** 获取到用户选中的复选框  */
                var checkedBoxs = boxs.filter(":checked");
                if (checkedBoxs.length < 1) {
                    $.ligerDialog.error("请选择一个需要删除的文档！");
                } else {
                    /** 得到用户选中的所有的需要删除的ids */
                    var ids = checkedBoxs.map(function () {
                        return this.value;
                    });
                    $.ligerDialog.confirm("确认要删除吗?", "删除文档", function (r) {
                        if (r) {
                            var formData = new FormData();
                            formData.append("ids", ids.get());
                            $.ajax({
                                url: "../deleteDocumentFromId",
                                type: "post",
                                dataType: "json",
                                async: false,
                                processData: false, // 使数据不做处理
                                contentType: false, // 不要设置Content-Type请求头
                                data: formData,
                                error: function (res) {
                                    console.log(res);
                                    $.ligerDialog.error("出错了，请与管理员联系！");
                                },
                                success: function (res) {
                                    if (res === "SUCCESS") {
                                        //局部刷新，直接重载当前页面的body
                                        $("#main_body").load(location.href);
                                        console.log(location.href)
                                    } else {
                                        $.ligerDialog.error("出错了，请与管理员联系！");
                                    }
                                }
                            });
                        }
                    });
                }
            });

            /** 搜索员工绑定点击事件 */
            $("#search").click(function () {
                var formData = new FormData();
                formData.append("title", $("#title_search").val());
                $.ajax({
                    url: "../getDocumentFromTitle",
                    type: "post",
                    dataType: "json",
                    async: false,
                    processData: false, // 使数据不做处理
                    contentType: false, // 不要设置Content-Type请求头
                    data: formData,
                    error: function (res) {
                        console.log(res);
                        $.ligerDialog.error("出错了，请与管理员联系！");
                    },
                    success: function (res) {
                        loadData(res, "../getDocumentFromTitle", "post", formData);
                    }
                });
            });

            //加载页面数据方法单独提出
            function loadData(res, url, type, formData) {
                console.log(res);
                var json = eval(res);
                $("#tbody").empty();
                var count = 0;
                var list = eval(json.list);
                $.each(list, function (index, item) {
                    //循环获取数据
                    var id = list[index].id;
                    var title = list[index].title;
                    var fileName = list[index].fileName;
                    var remake = list[index].remake;
                    var createDate = list[index].createDate;
                    var userName = list[index].userName;
                    createDate = createDate.substring(0, 10);
                    var time = createDate.split("-");
                    createDate = time[0] + "年" + time[1] + "月" + time[2] + "日";
                    var userId = list [index].userId;
                    var $trTemp = $("<tr ondblclick=\"down(index);\" class=\"main_trbg\" align=\"center\"  style=\"background-color: rgb(255, 255, 255)\" id=\"data_" + index + "\"></tr>");
                    $trTemp.append("<td>" + "<input type=\"checkbox\"  value=\"" + id + "\" id=\"box_" + index + "\">" + "</td>");
                    $trTemp.append("<td>" + title + "</td>");
                    $trTemp.append("<td>" + createDate + "</td>");
                    $trTemp.append("<td>" + userName + "</td>");
                    $trTemp.append("<td>" + remake + "</td>");
                    $trTemp.append("<td  align=\"center\" width=\"40px;\">" + "<a href=\"showUpdateDocument.html\">" + "<img title=\"修改\" src=\"../images/update.gif\"/>" + "</a>" + "</td>");
                    $trTemp.append("<td  align=\"center\" width=\"40px;\">" + "<a href=\"../download?id=" + id + "\" id=\"down_" + index + "\">" + "<img width=\"20\" height=\"20\" title=\"下载\" src=\"../images/downLoad.png\"/>" + "</a>" + "</td>");
                    $trTemp.appendTo("#tbody");
                    count = index;
                });

                Page({
                    num: json.lastPage,					//页码数
                    startnum: json.pageNum,		//指定页码
                    elem: $('#mypage'),		//指定的元素
                    callback: function (n) {	//回调函数
                        console.log(n + "  dailiwen");
                        if (formData == null)
                            formData = new FormData();
                        formData.delete("pageNum");
                        formData.append("pageNum", n);
                        $.ajax({
                            url: url,
                            type: type,
                            data: formData,
                            processData: false,
                            contentType: false,
                            dataType: "json",
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                $.ligerDialog.error("出错了，请与管理员联系！");
                            },
                            success: function (res) {
                                loadData(res, url, type, formData);
                            }
                        });
                    }
                });

                $(function () {
                    boxs = $("input[type='checkbox'][id^='box_']");
                    /** 给全选按钮绑定点击事件  */
                    $("#checkAll").click(function () {
                        // this是checkAll  this.checked是true
                        // 所有数据行的选中状态与全选的状态一致
                        boxs.attr("checked", this.checked);
                    });

                    /** 给每个数据行绑定点击事件：判断如果数据行都选中全选也应该选中，反之  */
                    boxs.click(function (event) {
                        /** 去掉复选按钮的事件传播：点击复选会触发行点击：因为复选在行中 */
                        event.stopPropagation();

                        /** 判断当前选中的数据行有多少个  */
                        var checkedBoxs = boxs.filter(":checked");
                        /** 判断选中的总行数是否等于总行数：以便控制全选按钮的状态   */
                        $("#checkAll").attr("checked", checkedBoxs.length == boxs.length);
                    });

                    /** 给数据行绑定鼠标覆盖以及鼠标移开事件  */
                    $("tr[id^='data_']").hover(function () {
                        $(this).css("backgroundColor", "#eeccff");
                    }, function () {
                        $(this).css("backgroundColor", "#ffffff");
                    }).click(function () {
                        /** 控制该行是否需要被选中 */
                        /** 获取此行的复选框id */
                        var checkboxId = this.id.replace("data_", "box_");
                        /** 触发本行的复选点击 */
                        $("#" + checkboxId).trigger("click");
                    });
                });
            }
        });
    </script>
</head>
<body id="main_body">
<!-- 导航 -->
<table id="main_table" width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td width="15" height="32"><img src="../images/main_locleft.gif" width="15" height="32">
        </td>
        <td class="main_locbg font2"><img src="../images/pointer.gif">&nbsp;&nbsp;&nbsp;当前位置：文档管理
            &gt; 文档查询
        </td>
        <td width="15" height="32"><img src="../images/main_locright.gif" width="15" height="32">
        </td>
    </tr>
</table>

<table width="100%" height="90%" border="0" cellpadding="5" cellspacing="0" class="main_tabbor">
    <!-- 查询区  -->
    <tr valign="top">
        <td height="30">
            <table width="100%" border="0" cellpadding="0" cellspacing="10" class="main_tab">
                <tr>
                    <td class="fftd">

                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="font3">
                                    标题：<input id="title_search" type="text" name="title"/>
                                    <input id="search" type="button" value="搜索"/>
                                    <input type="button" id="delete" value="删除">
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
        </td>
    </tr>

    <!-- 数据展示区 -->
    <tr valign="top">
        <td height="20">
            <table id="table" width="100%" border="1" cellpadding="5" cellspacing="0"
                   style="border:#c2c6cc 1px solid; border-collapse:collapse;">
                <thead>
                <tr class="main_trbg_tit" align="center">
                    <td><input type="checkbox" id="checkAll"></td>
                    <td>标题</td>
                    <td>创建时间</td>
                    <td>创建人</td>
                    <td>描述</td>
                    <td>操作</td>
                    <td>下载</td>
                </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </td>
    </tr>
    <!-- 分页标签 -->
    <tr valign="top">
        <td align="center" class="font3">
            <table width="100%" align="center" style="font-size:13px;" class="flickr">
                <tbody>
                <tr>
                    <td style="COLOR: #0061de; MARGIN-RIGHT: 3px; PADDING-TOP: 2px; TEXT-DECORATION: none">
                        <div>
                            <ul class="pagination" id="mypage">
                            </ul>
                            <!--                            <div class="pageJump">-->
                            <!--                                <span>跳转到</span>-->
                            <!--                                <label>-->
                            <!--                                    <input type="text"/>-->
                            <!--                                </label>-->
                            <!--                                <span>页</span>-->
                            <!--                                <button type="button" class="button">确定</button>-->
                            <!--                            </div>-->
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>
        </td>
    </tr>
</table>
<div style="height:10px;"></div>
</body>
</html>