<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.team.dao.UserDao">
	<!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！ -->
	<resultMap id="BaseResultMap1" type="edu.team.entity.User">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="login_name" property="loginName"
			jdbcType="CHAR" />
		<result column="password" property="password" jdbcType="CHAR" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="create_date" property="createDate"
			jdbcType="TIMESTAMP" />
		<result column="user_name" property="userName" jdbcType="CHAR" />
		<result column="face_url" property="faceUrl" jdbcType="CHAR" />
		<result column="face_path" property="facePath" jdbcType="CHAR" />
	</resultMap>
	<!-- 查询user_inf所有用户信息 -->
	<select id="findAllUsers" resultMap="BaseResultMap1">
		SELECT
			*
		FROM
		user_inf
	</select>


	<!-- 查询dept_inf单个用户信息 -->
	<select id="getUserFromId" resultMap="BaseResultMap1">
		SELECT * FROM user_inf WHERE id =
		#{id}
	</select>
	<!-- 通过名字查询 -->
	<select id="getUserFromInfo" parameterType="string" resultMap="BaseResultMap1">
        SELECT
        *
        FROM
        user_inf
        <where>
            <if test="user_name != null and user_name != ''">
                AND user_inf.user_name LIKE concat('%',#{user_name},'%')
            </if>
            <if test="status != null and status != ''">
                AND user_inf.status LIKE concat('%',#{status},'%')
            </if>
        </where>
	</select>

	<!-- 通过登录名查询 -->
	<select id="findByLoginname" parameterType="String"
		resultMap="BaseResultMap1">
		SELECT * FROM user_inf WHERE login_name = #{value}
	</select>

	<!-- 通过用户名查询 -->
	<select id="getUserFromUserName" parameterType="String"
		resultMap="BaseResultMap1">
		SELECT * FROM user_inf WHERE user_inf.user_name LIKE concat('%',#{user_name},'%')
	</select>

	<!-- 通过id删除 -->
	<delete id="deleteUserById" parameterType="Integer">
		DELETE FROM user_inf
		WHERE id
		= #{id};
	</delete>
	<!-- 增加 -->
	<insert id="add">
		insert into
		user_inf(user_name,status,login_name,password,create_date)
		values(#{username},#{status},#{loginname},#{password},#{create_date})
	</insert>
	<!-- 编辑 -->
	<update id="edit">
		UPDATE user_inf
		SET user_inf.user_name = #{userName},
		 user_inf.login_name = #{loginName},
		 user_inf.`status` = #{status}
		WHERE
			id = #{id}
	</update>
</mapper>